<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ShoppingSavingTracker</name>
    <description>
        A simple app to track your shopping savings.
    </description>
    <author email="admin@jkconsulting.com" href="http://jkconsulting.com">
        JKConsulting
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
